/* Intro.module.css */
@import "./Font.css";

.container {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  max-width: 100%;
  padding: 0 10%;
  /* margin: 0 auto; */
  position: relative;
  /* margin-top: 30px; */
}

.normalTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.normalTextStyle {
  text-align: center;
  font-size: 25px;
  font-family: "Raleway";
  font-weight: normal;
  width: 70%;
  margin-bottom: 30px;
}

.TitleTextStyle {
  text-align: center;
  font-size: 75px;
  font-family: "Raleway";
  font-weight: bolder;
  margin: 0;
  margin-bottom: 15px;
}

.resumeButtonContainer {
  background-color: #fdca4b;
  text-align: center;
  font-size: 40px;
  font-family: "Raleway";
  font-weight: bold;
  border-radius: 97px;
  border-width: 5px;
  border-color: black;
  height: 102px;
  width: 679px;
  /* justify-self: center; */
  /* z-index: -1; */
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  z-index: -1;
}

.buttonAndImagesContainer {
  display: flex;
}

.imageSize {
  width: 448px;
  height: 428px;
  position: absolute;
  top: 250px;
  left: 1150px;
  z-index: -1;
}

.SecondimageSize {
  width: 221px;
  height: 182px;
  position: absolute;
  top: 350px;
  left: 475px;
  z-index: 1;
}
