.line {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: black;
    width: 0;
    left: 0; /* Start from the left edge */
    right: 0; /* End at the right edge */
    transition: width 0.5s ease;
  }
  