/* Intro.module.css */
/* @import  "./Font.css"; */

.aboutMeContainer {
    padding-top: 50px;
    /* padding-bottom: 20px; */
}

.ExpericeContainer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.taskBarContainer {
    position: fixed;
}

.Intro {
    padding-top: 135px;
}

