@import "../Font.css";

.swiperTextTitle {
  font-size: 35px;
  font-family: "Raleway";
  font-weight: bolder;
  margin: 0;
  margin-left: 200px;
  margin-bottom: 16px;
}

.swiperTextNormal {
  font-size: 17px;
  font-family: "Raleway";
  font-weight: normal;
  margin: 0;
  padding-bottom: 15px;
  margin-left: 200px;
  width: 57%;
  margin-bottom: 5px;
}

.swiperTextSmall {
  font-size: 15px;
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
}

.swiperSmallTextContainerTESTE {
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  background-color: #fdca4b;
  width: 10%;
  height: 40px;
  padding: 5px;
  display: flex; /* Use flexbox to control alignment */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  margin-right: 10px;
}

.swiperSmallTextContainer {
  margin-left: 200px;
  display: flex;
  flex-direction: row; /* Set to row */
  margin-top: 5px; /* Add spacing between small texts */
}

.swiperInfoANDImageContainer {
  display: flex;
  flex-direction: row; /* Set to row */
  align-items: center; /* Center elements vertically */

  width: 100%;
}

.ProejectimageSize {
  width: 256px;
  height: 142px;
  margin-right: 150px;
}
